<div class='page-container register'>
  <section class='page-header'>
    <h1>register</h1>
  </section>
  <section class='page-content'>
    
    <label for='name'>
      <input type='text' name='name' placeholder='Enter your name' autofocus>
    </label>

    <label for='age'>
      <input type='text' name='age' placeholder='Enter your age'>
    </label>

    <label for='occupation'>select occupation</label>
  
  </section>
  <section class='page-bottom'>
    <h2>check in</h2>
  </section>
</div>
