<div class='page-container register'>
  <section class='page-header'>
    <h1>register</h1>
  </section>

  <section class='page-content'>
    
    <form [formGroup]='registerForm' novalidate (submit)='registerColonist()'>
      <input type='text' placeholder='Enter your name' formControlName='name' />
      <input type='number' placeholder='Enter you age ( 0 - 120 )' formControlName='age' />
      <select formControlName='job_id'>
        <option value=''>Select a job</option>
        <option *ngFor='let job of jobs' [value]='job.id'>{{job.name}}</option>
      </select>
      <button [disabled]="registerForm.status === 'INVALID'" type='submit' class='button'>Register</button>
    </form>
    <!--{{ registerForm.value | json }}
    {{ registerForm.status | json }}-->
  </section>

</div>
