<div class='page-container encounters'>
  <section class='page-header'>
    <h1>Recent Encounters</h1>
    <p class='sub-header'>See an Alien? Report it!</p>
  </section>
  <section class='page-content'>
    <ul>
      <li *ngFor='let encounter of encounters'>
        <p class='encounters-list-topic'>{{ encounter.date }} - {{ encounter.atype }}</p>
        <p class='encounters-list-action'>{{ encounter.action }}</p>
      </li>
    </ul>
  </section>
  <section class='page-bottom'>
     <a routerLink='/report' class='button-on'>Report Encounter</a>
  </section>
</div>
