/*Mars Colony style*/

@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*page layout style*/
$background-color: linear-gradient( rgba(29, 45, 87, 1),rgba(21, 56, 72, 1));
$primary-color-white: white;
$primary-color-blue: #1d2d57;
$secondary-color-yellow: #ec5528;


/*font styl*/
$base_font_size: 16px;
$main_font_family: 'Orbitron', sans-serif;





// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948;
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #a94442; 
// }
